.correct {
  color: green;
}

.incorrect {
  color: red;
  background-color:yellow;
}

.complete {
  color: lightgray;
}

.incomplete {
  color: gray;
}

#reference-text, #typing-field {
  font-family: monospace;
  font-size: 1em;
}